*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    margin-right: 20px;
}
.link{
    padding: 10px 15px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    margin: 0 10px;
}

li{
    display: inline-block;

}


header{
    height: 100px;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

/* CLASSI MAIN */

 .box-1, .box-2, .box-3 {
    height: 100vh;
    width: 100%;
    position: relative;
    
} 

.box-1{
    background-color: red;
    
}
.box-2{
    background-color: green;
}
.box-3{
    background-color: yellow;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

h2{
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    padding: 0 30px;
}